
<!--
<div class="read-more">
    <script type="text/javascript">var jd_union_unid="1000159746",jd_ad_ids="1455:6",jd_union_pid="CLzuy/evLhCC9PTcAxoAIO/F35cLKgA=";var jd_width=0;var jd_height=0;var jd_union_euid="";var p="AhIOUxJYHAcVDmVEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfImcTYFJPXkhnNXoLZWIWWiduG0cKDGdZF2sTAxIFURxYEAAiB1QaWhUGGgFQHGslXVZaCCsQewMiWBFGBiUCFg9XHlsRARADVxNbJQMiN2U%3D";</script><script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">装备</a>
    </div>
</div>
-->


<!--
<div class="read-more">
    <div class="read-more-header">
        <a href="https://www.west.cn?ReferenceID=833653" target=_blank><img src="https://www.west.cn/vcp/vcp_img/free6/A/100x100_A.jpg" border=0></a>
    </div>
</div>

-->

<div class="read-more">
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">公众号</a>
    </div>
    <p><img src="/images/media/wechat_subscription.png" alt="公众号"/></p>
</div>


<!--

<div class="read-more">
    <div class="read-more-header">
      <a href="{{ site.url }}{{ page.previous.url }}" class="read-more-btn">知识星球</a>
    </div>
    <p><img src="/images/media/openresty.png" alt="知识星球"/></p>
</div>

-->


        <section id="disqus_thread" class="animated fadeInUp">            

        <div id="container"></div>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
          
          <div id="gitalk-container"></div>
          <script type="text/javascript">            
          var gitalk = new Gitalk({
            clientID: '2795b4c1f65d53754571', //Client ID
          
            clientSecret: '9ddfaacf06ef9c1a9b2aa37f4cffc0fc3da98552', //Client Secret
          
            repo: 'lua.ren',//仓库名称
            owner: 'shengnoah',//仓库拥有者
            admin: ['shengnoah'],
            //id: 'lua.ren',      // Ensure uniqueness and length less than 50
            id: window.location.pathname,      // Ensure uniqueness and length less than 50              
            distractionFreeMode: false,  // Facebook-like distraction free mode
            title: '{% if page.title %}{{ page.title }} &#8211; {% endif %}',
            proxy: 'https://nameless-depths-50459.herokuapp.com/https://github.com/login/oauth/access_token'
          })
          
          gitalk.render('gitalk-container')
          </script>
      
        </section>

{% if site.disqus_shortname %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ site.disqus_shortname }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
