<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script type="text/javascript" async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<!--
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->

<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?14cc93bf3f08d31c458639d309dde522";
       var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
</script>



{% endif %}

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}

{% if site.float_share %}
<script type="text/javascript">
    sharing();
</script>
{% endif %}
<script type="text/javascript" >
    $(document).ready(function () {
        $(".term").on("click", function (event) {
            var searchInput = $("#search-input");
            searchInput.val($(this).text());
            searchInput.trigger("change keyup");
            searchInput.keyup();
            searchInput.change();
        })
    })
</script>



